/* @import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap"); */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.Navbar {
  color: white;
  background-color: rgb(137, 0, 75);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1% 4%;
  /* margin-bottom: 5%; */
}
.Navbar > h1 > span {
  font-weight: 300;
  font-size: medium;
}
